# Isso é um comentário nesse arquivo!
# O asterisco é utilizado como um caractére curinga.
# A barra é usada para ignorar nomes de caminhos relativos ao arquivo .gitignore
# O # é usado para adicionar comentários ao arquivo .gitignore

